.notification-indicator {
  width: auto;
  position: absolute;
  right: remSize(-7px);
  top: remSize(-9px);
  background: $colorLightGreen;
  border-radius: 50%;
  width: remSize(19px);
  height: remSize(19px);
  text-align: right;
  border: remSize(2px) solid $colorGreen;
  font-size: remSize(10px);
  line-height: remSize(9px);
  padding: remSize(3px);
}
