.spacing-m-b {
  margin-bottom: clamp(15px, 4vw, 40px);
}
.spacing-s-b {
  margin-bottom: clamp(8px, 2vw, 20px);
}
.spacing-overview {
  margin-left: 2px;
  margin-right: 2px;
}
// custom "vuetify" classes
.custom-mt-1 {
  margin-top: 6px;
}
