// Remove the storybook full height of all components
#vuetify-storybook-decorator {
  min-height: unset;
  // docs wrapper
  .v-application--wrap {
    min-height: 100%;
    position: relative;
  }
  // only for storybook color preview
  .color-box-preview {
    display: inline-block;
    h3 {
      font-family: $body-font-family, sans-serif;
      font-size: remSize(14px);
    }
    &__element {
      height: remSize(80px);
      width: remSize(80px);
    }
  }
  // component wraps
  .storybook-min-height-wrap {
    min-height: 180px;
  }
  .storybook-min-height-wrap--medium {
    min-height: 300px;
  }
  .storybook-min-height-wrap--large {
    position: relative;
    min-height: 400px;
  }
  // overlay
  .v-overlay {
    position: absolute;
  }
  // overlay content
  .v-dialog__content {
    position: relative;
  }

  // sidebar
  .sidebar {
    position: relative;
    min-height: 650px;
    display: block;
    margin-left: auto;
    &:before {
      position: absolute;
    }
  }
  // instrument info box
  .instrument-info-box {
    position: relative;
  }

  // accordion header
  $icon-size: remSize(60px);
  .accordion-item {
    &__icons {
      position: absolute;
      top: $icon-size/8;
      left: $icon-size/8;
      height: $icon-size;
      width: $icon-size;
    }
    &__title {
      color: var(--v-primary-base);
      font-weight: $fontWeightMedium;
      font-size: remSize(14px);
      line-height: remSize(18px);
    }
    // chevron
    &__chevron {
      svg {
        transform: rotate(-90deg);
        transition: transform $custom-transition;
      }
    }

    .v-expansion-panel-header {
      position: relative;
      padding: remSize(10px) remSize(45px) remSize(10px) remSize(75px);
      height: remSize(76px);
      background-color: $colorGrayLight;
    }
    // active accordion
    .v-expansion-panel-header--active {
      // svg icon
      .accordion-item__chevron {
        svg {
          transform: rotate(0);
        }
      }
    }
    .accordion-item-advanced {
      .v-expansion-panel-header {
        position: relative;
        padding: 0.5rem 0;
        height: auto;
        background-color: white;
      }
    }
  }
  // isntruemnts
  .instrument-info {
    margin-left: remSize(20px);
    &__btn,
    &__name {
      display: inline;
    }
    &__name {
      font-size: remSize(14px);
      line-height: remSize(16px);
      color: var(--v-primary-base);
      margin-top: remSize(3px);
      margin-left: remSize(4px);
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
  // context menu
  .storybook-context-menu .context-menu {
    position: relative;
    right: auto;
    width: 20%;
    a {
      text-decoration: none;
    }
  }

  // notification-indicator
  .notification-indicator {
    width: auto;
    position: absolute;
    right: remSize(-7px);
    top: remSize(-9px);
    background: $colorLightGreen;
    border-radius: 50%;
    width: remSize(19px);
    height: remSize(19px);
    text-align: right;
    border: remSize(2px) solid $colorGreen;
    font-size: remSize(10px);
    line-height: remSize(9px);
    padding: remSize(3px);
    margin-left: auto;
  }
}
